* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 70% auto;
    padding: 4px 0;
    gap: 4px 0;
    .barra-superior {
        background-color: rgb(200, 200, 200);
    }
    .logo {
        width: auto;
        height: 100%;
        align-self: center;
        justify-self: center;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
        }
    }
    .navegacion {
        ul{
            margin: 0 15%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.main {
    height: 70vh;
    background-image: url(../assets/img/banner-actividad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    height: 30vh;
    background-color: blue;
}