* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 30vh;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    .barra-superior {
        font-size: 22px;
        top: 0;
        background-color: rgb(200, 200, 200);
    }

    .logo {
        height:20vh;
        background-color: blue;
        display: flex;
        a {
            align-items: center;
            img {

                height: 100%;
            }
        }
    }

    .navegacion {
        bottom: 0;
        .lista-nav {
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;

            li {
                display: flex;

                a {
                    text-decoration: none;
                    color: black;
                }

            }
        }
    }
}

.main  {

    .banner {
        width: 100vw;
        height: 70vh;
        background-image: url(../assets/img/banner-actividad.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}