* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    .barra-superior {
        width: 100%;
        background-color: rgb(200, 200, 200);
        height: 22px;
    }

    width: 100vw;
    height: 30vh;
    background-color: whitesmoke;
    display: flex;
    justify-content:center;
    position: relative;

    .navegacion {
        width: 50%;
        position: absolute;
        bottom: 0;
        margin: 1rem;

        .lista-nav {

            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;

            li {
                display: flex;

                a {
                    text-decoration: none;
                    color: black;
                }

            }
        }
    }
}

.banner {
    width: 100vw;
    height: 70vh;
    background-image: url(../assets/img/banner-actividad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}